.countries_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}
.visitedCountry_container{
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.visitedCountry{
    border: 1px solid white;
    margin-bottom: 20px;
    padding: 20px;
}




@media only screen and (max-width: 600px) {
  .visitedCountry_container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .visitedCountry{
    width: 100%;
  }

   
  }